# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Mac OS files
.DS_Store

# Virtual environments
venv/
.env/
*.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled build artifacts
*.so
*.dll
*.dylib

# VSCode / IDE settings
.vscode/
.idea/
